database_server:   "127.0.0.1"
database_database: "test_bm"
database_username: "get_me_a_cookie"
database_password: ""



database_table_vulnerabilites_obsolescence: "vulnerabilites_obsolescence"
database_table_k6_applications: "cassis_applications"
database_table_k6_technologies: "cassis_technologies"



data_repository: "/home/get_me_a_cookie/Workplace/BM_Pomme_data"
data_processed_repository: "/home/get_me_a_cookie/Workplace/BM_Pomme_data/traite"
